<div class="m-layer"
[@showModal]="showModal"
#modalContainer
cdkDrag
cdkDragBoundary='.cdk-overlay-container'
>
  <div class="zbar" cdkDragHandle>
    <div class="zttl f-thide">
      这是标题
    </div>
    <ng-container [ngSwitch]="currentModalType">
      <ng-container *ngSwitchCase="'loginByPhone'">
        <ng-content select="[name=login]"></ng-content>
      </ng-container>
      <ng-container *ngSwitchCase="'register'">
        <p>registerregisterregisterregisterregister</p>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-content></ng-content>
      </ng-container>
    </ng-container>
  </div>
  <div class="zcls" title="关闭" (click)="hide()">
  </div>
</div>
